	body {
		background-color: #EAE5E5;
		max-width:100%;
		max-height:100%;
		font-family: 'Noticia Text', sans-serif;	
		color: #4D4D4D;
	}

	#container {
		margin: 0px auto;
		padding-top: 0px;
	}
	#content {
		margin: 0px auto;
		min-height: calc(100vh - 360px);
	}
	#content h2 {
		font-size: 60px;
		font-weight: normal;
	}
	#content h6 {
		font-size: 17px;
		font-weight: normal;
	}
	#header {
		height: 30px;
		top: 0px;
		background-color: #4D4D4D;
	}
	#footer {
		max-width:100%;
		height: 175px;
		top:10px;
		background-color: #4D4D4D;	
	}
	.topMenu {
		width: 700px;
		height: 125px;
		top: 0px;
		margin: 0px auto;
		position: relative;
	}
	.title {
		font-size: 14px;
		position: relative;
		font-weight: bold;
		height: 125px;
		width: 40%;
		float: left;
		top: 0px;
		text-indent: 25px;
	}
	.title h1 {
		height: 20px;
	}
	.title h4 {
		font-weight: normal;
		font-size: 15px;	
		top: 5px;
		height: 16px;
	}
	.navigation {
		padding-top: 57px;
		height: 45px;
		width: 60%;
		float: left;
		text-align:center;
	}
	.navigation a {
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		color: #8B8B8B;	
		font-family: 'Noticia';
		padding-right:30px;
	}
	.navigation a:hover {
		color: #61CFD3
	}
	.centerContainer {
		width:600px;
		margin: 0px auto;
		position:relative;
	}
	.centerParagraph {
		width: 400px;
		margin: 0px auto;
	}
	.centerParagraph p {
		font-family:Open Sans;
	}
	.leftParagraph {
		margin-top:10px;
	}
	.centerImages {
		width:600px;
		height:200px;
		margin: 0px auto;
		display:inline-block;
		text-align:center;
		margin-top:35px;
	}
	.centerImages a {
		display:inline-block;
		width:130px;
	}
	.centered {
		width:32%;
		display:inline-block;	
	}
	
	.leftContainer {
		width:700px;
		position:relative;	
		margin: 0px auto;
		position: relative;	
		padding-bottom:20px;
	}
	.leftContainer a {
		color: #4D4D4D;
	}
	.leftContainer h2 {
		margin-bottom:2px;
		margin-top:4px;
	}
	.leftContainer h6 {
		margin-bottom:2px;
		margin-top:4px;
		margin-left:2px;
	}
	
	.socialContacts {
		height: 220px;
		position: relative;
		font-size: 17px;
		left: 100px;
		font-weight: normal;
		display: inline-block;
	}
	.socialContacts img {
		vertical-align:middle;	
	}
	.footerCenter {
		width: 750px;
		height: 125px;
		margin: 0px auto;
		vertical-align: middle;
		text-align: center;
	}
	.footerElement {
		height: 60px;
		width: 230px;
		display:inline-block;
		vertical-align: middle;
		margin-top:30px;
	}
	.footerElement img {
		vertical-align: middle;
	}
	.footerText, 
	.footerSmallText {
		width:150px;
		text-align:left;
		height:45px;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-weight: bold;
		color: #FFFFFF;
		display:inline-block;
		}
	.footerSmallText {
		font-family: 'Noticia Text', sans-serif;	
		font-weight:normal;
		font-size:12px;
		color: #FFFFFF;
	}
	.footerButtons {
		width:150px;
		height:70px;
		display:inline-block;
		margin:auto;
	}
	.clearfix:after {
		content:"."; 
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;
		}
	.clearfix {display:inline-block;}
	
	@media (max-width: 700px) {
		body {
			max-width:100%;
		}
		#content {
			max-width:100%;
			min-height: calc(100vh - 445px);
		}
		#header {
			max-width: 100%;
		}
		#footer {
			width: 100%;
			height:275px;
		}
		h2 {
			text-align:center;
			margin-top:10px;
			margin-bottom: 10px;
		}
		h4, h6 {
			text-align:center;
		}
		p {
			text-align:center;
		}
		.centerContainer {
			width:100%;
		}
		.footerCenter {
			width: 100%;
			height:275px;
		}
		.footerElement {
			margin: 0 auto;
			height: 70px;
			width:240px;
			margin: 0 auto;
			padding-top: 20px;
			display:block;
		}
		.footerText {
			width:150px;
			height:70px;
		}
		.footerSmallText {
			width:150px;
			height:70px;
		}
		
		.topMenu {
			max-width:100%;
			height:100px;
		}
		.title {
			margin: 0 auto;
			position:relative;
			top: 0px;
			float:none;
			height:75%;
			width:100%;
			text-align:center;
		}
		.title h1 {
			height: 20px;
		}
		.title h4 {
			height: 16px;
		}
		.navigation {
			position:relative;
			float:none;
			text-align:center;
			padding-top:0px;
			width:100%;
			height:25%;
			margin: 0px auto;
		}
		.navigation a {
			padding-right:6px;
		}
		.centerParagraph {
			width: 100%;
			height:85%;
		}
		.leftContainer {
			width: 100%;
			height:85%;
		}
		.leftParagraph p {
			text-align:left;
		}
		.centerImages {
			width:100%;
			height:150px;
			margin: 0px auto;
			display:inline-block;
			text-align:center;
			overflow:auto;
		}
		.socialContacts {
			margin: 0px auto;
			width:100%;
			text-align:center;
			left:0px;
		}
	}